---
import FadeIn from "../motion/FadeIn";
---

<section class="relative bg-black text-white h-auto py-32">
  <div class="max-w-[950px] mx-auto px-8 md:px-16 flex flex-row space-x-20">
    <div class="flex-grow-0 flex-shrink-0">
      <img src="/public/about-me.jpg" alt="About me" class="h-96" />
    </div>
    <div class="flex-grow">
      <FadeIn client:visible>
        <h1 class="text-3xl font-bold font-poppins flex-grow mb-4">Über mi.</h1>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </FadeIn>
    </div>
  </div>
</section>
