---
import FadeIn from "../motion/FadeIn";
---

<section
  class="pt-40 flex flex-col justify-center max-w-[900px] mx-auto px-8 md:px-16"
>
  <div class="flex flex-row justify-between space-x-4">
    <div class="flex flex-col justify-center">
      <FadeIn client:load>
        <h1 class="text-4xl font-bold font-poppins">Hopp, I bi da Noah.</h1>
        <h2 class="text-2xl mt-4 font-poppins">
          Und i entwickla Software, wie ...
        </h2>
      </FadeIn>
    </div>
    <div class="size-60 bg-black rounded-xl"></div>
  </div>
</section>
