<div
  class="flex flex-row justify-between md:py-16 py-4 max-w-[1100px] mx-auto px-8 md:px-16"
>
  <a href="/" class="text-2xl font-bold">noahbaumgartner</a>
  <div class="flex flex-col space-y-2 w-8 justify-center group cursor-pointer">
    <span
      class="bg-black w-full h-[1.5px] transition-transform duration-200 group-hover:translate-x-1"
    ></span>
    <span
      class="bg-black w-full h-[1.5px] transition-transform duration-200 group-hover:-translate-x-1"
    ></span>
  </div>
</div>
